.div-table {
    display: table;
}

.div-table-row-header {
    display: table-row;
    font-weight: bold;
    margin-bottom: 1em;
}

.div-table-row {
    display: table-row;
    background-color: #ffffff;
}

.div-table-col {
    display: table-cell;
    width: auto;
    padding: 10px;
}