.navbar {
    background-color: #003049;
    color: #ffffff;
}

input {
    width: 50%;
    border-radius: 35px;
    border: 1px solid black;
    padding: 5px;
    background-attachment: #ffffff;
}

.nav-links {
    list-style: none;
    display: flex;
    margin-bottom: 0;
}

.nav-links li {
    margin-left: 1em;
}