#side-bar {
    height: 100%;
    width: 15%;
    position: absolute;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: -2px 0px 7px 0px black;
}

.links {
    height: 10%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a{
    color: #003049;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.links a:hover{
    color:#ff7f27;
    transform: scale(1.1);
    text-decoration: none;
}