body {
  background-color: #efeeee !important;
}

.main-container {
  display: flex;
}

.page-title {
  margin: 1em;
}

.component-container {
  margin-left: 18%;
  display: flex;
  flex-direction: column;
}